// @import url(http://fonts.googleapis.com/css?family=Lato:300,700,300italic);

body {
    font-family: 'Lato', sans-serif, Arial, sans-serif;
}

header {
    margin: 0 auto;
    min-width: 600px;
    font-weight: bolder;
}

.container {
    // width: 80%;
    // min-width: 600px;
    margin: 10px auto;
}

.content {
    > div {
        padding: 20px;
        border: 1px solid #cdcdcd;
        border-radius: 5px;
    }
    .step-div {
        h4 > span {
            color: #888888;
            font-style: italic;
        }
        ul {
            list-style-type: none;
            padding: 0;
            li {
                margin: 5px auto;
                padding: 5px 10px;
                background-color: #e6e6e6;
                div {
                    margin: 5px auto;
                }
            }
        }
    }

    label {
        margin: 5px;

        input[type="checkbox"] {
            margin: 0 2px;
        }
    }

    #diff-lbl {
        float: right;
    }

    #chart {
        margin: 0 auto;
        width: 600px;
    }
}

#user-symbol-select, #symbol-container {
    display: none;
}