<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="Palm symbols analysis">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Palm Symbol Analysis</title>
    <!-- <link rel="author" href="humans.txt"> -->
    <meta charset=utf-8>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Palm Symbol Analysis <small>EyeWrist</small></h1>
        </header>
        <div class="content">
            <h3>Description</h3>
            <div>Please help me for this > < </div>
        </div>
        <div class="content">
            <h3>Symbols</h3>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="step-div">
                            <h4>Step 1<span>&nbsp;&nbsp;Load User Data</span></h4>
                            <div>
                                <select id="user-select">
                                    <option disabled="disabled">loading</option>
                                </select>
                                <select id="user-symbol-select">
                                </select>
                                <div id="symbol-container"></div>
                            </div>
                        </div>
                        <hr>
                        <div class="step-div">
                            <h4>Step 2<span>&nbsp;&nbsp;Trim</span></h4>
                            <div>
                                <button type="button" id="trim-head-btn" class="trim-btn btn btn-default">Trim Head</button>
                                <button type="button" id="trim-tail-btn" class="trim-btn btn btn-default">Trim Tail</button>
                                <button type="button" id="trim-body-btn" class="trim-btn btn btn-default">Trim Body</button>
                                <!-- <button type="button" id="trim-reset-btn" class="btn btn-danger" disabled="disabled">Reset</button> -->
                                <p></p>
                            </div>
                        </div>
                        <hr>
                        <div class="step-div">
                            <h4>Step 3<span>&nbsp;&nbsp;Analyze</span></h4>
                            <div>
                                <ul>
                                    <li><h5><strong>Shape</strong></h5>
                                        <div>
                                            <h5>Vertices Analysis</h5>
                                            <button type="button" id="shape-btn" class="btn btn-default vert-btn">Select New Vertices</button>
                                            <button type="button" id="shape-done-btn" class="btn btn-success vert-done-btn" disabled="disabled">Done</button>
                                            <p></p>
                                        </div>
                                        <div>
                                            <h5>Area Analysis</h5>
                                            <button type="button" id="area-btn" class="btn btn-default">Calculate Area</button>
                                            <p></p>
                                        </div>
                                    </li>
                                    <li><h5><strong>Letter</strong></h5>
                                    </li>
                                    <li><h5><strong>Multi-stroke</strong></h5>
                                        <div>
                                            <h5>Vertices Analysis</h5>
                                            <button type="button" id="multi-btn" class="btn btn-default vert-btn">Select New Vertices</button>
                                            <button type="button" id="multi-done-btn" class="btn btn-success vert-done-btn" disabled="disabled">Done</button>
                                            <p></p>
                                        </div>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div>
                            <!-- <span>This is canvas panel</span> -->
                            <!-- <label id="diff-lbl">
                                <input type="checkbox" name="diff-box" value="diff" id="diff-box" />diff
                            </label> -->
                            <button type="button" id="export-btn" class="btn btn-default">Export CSV</button>
                            <div id="chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
    <script src="javascripts/d3.min.js" charset="utf-8"></script>
    <script src="javascripts/d3-setup.js"></script>
    <script src="javascripts/main.js"></script>
</body>

</html>